<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>SAdmin3::Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/app/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/app/css/login.min.css') }}">

</head>
<body>

 {% block fos_user_content %}{% endblock fos_user_content %}

</body>
</html>
